<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <a class="navbar-brand" [routerLink]="['/']">Amadeus</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/']">Home</a>
        <a class="nav-link" [routerLink]="['passengers']">Passengers</a>
        <a class="nav-link" [routerLink]="['flights']">Flights</a>
        <a class="nav-link" [routerLink]="['payments']">Payments</a>
    </ul>
    <ul class="navbar-nav ml-auto">
    </ul>

</nav>
